/* --- HEADER --- */

.header {
  margin-top: 70px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top__block {
  color: #25C06D;
  background: #122119;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.top__icon {
  margin-right: 4px;
  font-size: 18px;
}

.top__info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top__title {
  margin-bottom: 10px;
}

.top__descr {
  color: #808081;
  font-size: 16px;
  width: 380px;
}